html * {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    text-align: center;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    color: blue;
    font-size: 150%;
}

h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: gainsboro;
    font-size: 125%;
}

.h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: mediumblue;
    font-size: 110%;
    text-align: center;
}

.herror {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 150%;
    text-align: center;
}

.wshelp li {
    margin: 10px 0;
}

.center {
    text-align: center;
    border: 0;
    font-size: 13px;
}

.centerMatrix {
    margin: auto;
    width: 25%;
    text-align: center;
    border: 0;
    font-size: 13px;
}

p.center {
    margin-top: 0;
}

span.center {
    margin: 0;
}

.button {
    display: inline-block;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    height: 100px;
    width: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
}

    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .button:active {
        transform: translateY(4px);
    }

table.currData {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    font-size: 13px;
    border-collapse: collapse;
    border: 1px solid black;
}

.currData td {
    width: 5%;
    /*text-align: left;*/
    border: 1px solid black;
}

/*.currData td:first-child {
    min-width: 180px;
    max-width: 180px;
    overflow: hidden;
}*/

table.currData2 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0;
    font-size: 13px;
    border-collapse: collapse;
    border: 1px solid black;
}

.currData2 td {
    width: 5%;
    text-align: center;
    border: 1px solid black;
}

.pv {
    font-weight: bold;
    color: red;
}

.posDaily {
    font-weight: bold;
    color: green;
}

.negDaily {
    font-weight: bold;
    color: red;
}

.notDaily {
    /*font-weight: bold;*/
    color: blue;
}

.posMonthly {
    font-weight: bold;
    color: green;
}

.negMonthly {
    font-weight: bold;
    color: red;
}

.notMonthly {
    font-weight: bold;
    color: blue;
}

.posYearly {
    font-weight: bold;
    color: green;
}

.negYearly {
    font-weight: bold;
    color: red;
}

.notYearly {
    font-weight: bold;
    color: blue;
}

.stci {
    font-weight: bold;
    color: blue;
}

.clmt {
    font-weight: bold;
    color: blue;
}

.histData {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    border: none;
}
/*.histData td {
    width: 50%;
    }*/

table.resData {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
}

.resData td {
    width: 10%;
    /*text-align: left;*/
    border: 1px solid black;
}

.buttonSim {
    background-color: dodgerblue; /* Green */
    /*border: none;*/
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonHelp {
    background: url("../images/help.png");
    background-size: contain;
    border: none;
    color: white;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        min-width: 200px;
        max-width: 2000px;
        font-size: 12px;
        background-color: dodgerblue;
        color: gainsboro;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.demo-container {
    box-sizing: border-box;
    width: 800px;
    min-height: 420px;
    max-height: 600px;
    padding: 10px 10px 10px 10px;
    margin: 5px auto 10px auto;
    border: 1px solid #ddd;
    /*background: #0094ff;*/
    position: relative;
    font-size: 13px;
    color: white;
    background: rgb(251,63,63);
    background: linear-gradient(135deg, rgba(251,63,63,1) 0%, rgba(162,164,77,1) 50%, rgba(70,93,252,0.8528362028405112) 100%);
}

.demo-placeholder {
    width: 780px;
    height: 400px;
    font-size: 12px;
    line-height: 1.2em;
    position: relative;
    z-index: 2;
}
.lbp-placeholder {
    /*width: 100%;
    height: 95%;
    font-size: 12px;
    line-height: 1.2em;*/
    z-index: 999;
    position: relative;
}

.DDM {
    /*margin: 0;*/
    min-height: 20px;
    max-height: 200px;
    display: inline-block;
    vertical-align: middle;
}
/*span.lbp-placeholder{
        display: inline-block;
        vertical-align: middle;
}*/

.legend table {
    border-spacing: 5px;
}

.flot-text {
    color: ghostwhite !important
}

.bottom-three {
    margin-bottom: 8px;
    /*margin-top: 10px;*/
    font-size: 14px;
}


.bottom-rules {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
}


