
<div class="divTitle">SQ Strategy QuickTester (<span class="spanNumber">{{m_versionShortInfo}}</span>) <span class="spanTitleSuperscript">*RealTime</span> </div>
<div style="width: 100%; height: 2px; background: #ffffff; overflow: hidden;"></div>
<!--//http://jsfiddle.net/rabidGadfly/f8ea6/ this was a good Angular menu, but submenus was not hovering-->
<!--// jquery horizontal menu is from here (I gave up finding Angular one): http://runnable.com/UdQdRyHniSpKAAXx/create-a-horizontal-navigation-menu-bar-using-jquery-->
<!-- Use this navigation div as your menu bar div -->
<div class="navigation">
    <ul class="sqMenuNav">
        <li class="sqMenuItemLevel0" id="idStartBacktestButtonLi">
            <span class="startBacktestButton" id="idStartBacktestButtonA" (click)="MenuItemStartBacktestClicked()">Start Backtest!</span>
        </li>
        <li class="sqMenuItemLevel0">
            <span>Tools</span>
            <ul class="sqMenuBarLevel1">
                <li><span>Copy PV to clipboard</span></li>
                <li><span (click)="MenuItemVersionInfoClicked()">Version info</span></li>
            </ul>
        </li>
        <li class="sqMenuItemLevel0">
            <span>Debug</span>
            <ul class="sqMenuBarLevel1">
                <li><span>See debug info 1</span></li>
                <li><span>See debug info 2</span></li>
            </ul>
        </li>
        <li class="sqMenuItemLevel0">
            <span>Strategies</span>
            <ul class="sqMenuBarLevel1">
                <li class="sqMenuItemLevel1">
                    <span>Adaptive</span>
                    <ul class="sqMenuBarLevel2">
                        <li><span id="idMenuItemAdaptiveUberVxx" (click)="MenuItemStrategyClick($event)">UberVxx</span></li>
                    </ul>
                </li>
                <li class="sqMenuItemLevel1">
                    <span>Seasonalities</span>
                    <ul class="sqMenuBarLevel2">
                        <li><span id="idMenuItemTotM" (click)="MenuItemStrategyClick($event)">Turn of the Month</span></li>
                    </ul>
                </li>
                <li class="sqMenuItemLevel1">
                    <span>VIX</span>
                    <ul class="sqMenuBarLevel2">
                        <li><span id="idMenuItemVXX_SPY_Controversial" (click)="MenuItemStrategyClick($event)">XIV width VXX-SPY Cont.Day</span></li>
                    </ul>
                </li>
                <li class="sqMenuItemLevel1">
                    <span>L-ETF</span>
                    <ul class="sqMenuBarLevel2">
                        <li><span id="idMenuItemLETFDiscrRebToNeutral" (click)="MenuItemStrategyClick($event)">L-ETF Discr. Reb.ToNeutral</span></li>
                        <li><span id="idMenuItemLETFDiscrAddToWinner" (click)="MenuItemStrategyClick($event)">L-ETF Discr. AddToWinning</span></li>
                        <li><span id="idMenuItemLETFHarryLong" (click)="MenuItemStrategyClick($event)">Harry Long</span></li>
                    </ul>
                </li>
                <li class="sqMenuItemLevel1">
                    <span>Asset Allocation</span>
                    <ul class="sqMenuBarLevel2">
                        <li><span id="idMenuItemTAA" (click)="MenuItemStrategyClick($event)">Tactical AA (TAA)</span></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<br>
<div style="width: 100%; height: 1px; background: #808080; overflow: hidden;"></div>



<span id="idAlwaysVisibleSwitch0" class="alwaysVisibleSwitchClass" (click)="SQToggle('idGeneralParameters', 'idAlwaysVisibleSwitch0', 'General Parameters')">+ Show General Parameters</span>
<br />
<div id="idGeneralParameters" style="display: none;">
    <table id="idGeneralParametersTable">
        <colgroup>
            <col class="column1" />
            <col class="column2" />
        </colgroup>
        <thead>
            <tr>
                <th>StartDateUtc*</th>
                <th>EndDateUtc*</th>
                <th class="xSmallComment">*(UTC-16:00 will be converted to Exchange Time Zone)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" [(ngModel)]="inputStartDateStr" style="width: 100px; padding: 1px; border: 1px solid #A0A0A0" /></td>
                <td><input type="text" [(ngModel)]="inputEndDateStr" style="width: 100px; padding: 1px; border: 1px solid #A0A0A0" /></td>
            </tr>
        </tbody>
    </table>
</div>




<span>SelectedStrategy:</span>
<span class="spanStrategyDescription"> {{selectedSubStrategyName}} </span>
<a id="googleHelpHref" target="_blank" href="{{selectedSubStrategyHelpUri}}"> Help</a>

<span class="spanTitleSuperscript">(GoogleDoc)</span>
<div style="height: 1px; background: #808080; overflow: hidden;"></div>
<!--<div style="width: 50%; height: 1px; background: #ffffff; overflow: hidden;"></div>--> <!--extra 1 pixel line, so that the input rows doesn't touch each other -->    <!--// fast SSI, Server Side Include works in Azure website from 2014: http://azure.microsoft.com/blog/2014/03/26/server-side-includes-ssi-in-windows-azure-web-sites-waws/-->
<!--#include virtual="/SQQuickTester/Strategies/AdaptiveUberVXX/AdaptiveUberVXX.htm"-->
<div [hidden]="selectedSubStrategyMenuItemId !== 'idMenuItemAdaptiveUberVxx'">
    <table id="inputTable" align="left">
        <colgroup>
            <col class="column1" />
            <col class="column2" />
        </colgroup>
        <thead>
            <tr>
                <th>Trading instrument on bullish day</th>
                <th>Param</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select [ngModel]="strategy_AdaptiveUberVxx.selectedBullishTradingInstrument" (ngModelChange)="strategy_AdaptiveUberVxx.bullishTradingInstrumentChanged($event)">
                        <option [value]="i" *ngFor="let i of strategy_AdaptiveUberVxx.bullishTradingInstrument">{{i}}</option>
                    </select>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.param" style="width: 280px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
            </tr>
        </tbody>
    </table>
    <table id="inputTable" align="left">
        <colgroup>
            <col class="column1" />
            <col class="column2" />
        </colgroup>
        <thead>
            <tr>
                <th>Component</th>
                <th>Priority</th>
                <th>Combination</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>TradingStartAt</th>
                <th>Param</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{strategy_AdaptiveUberVxx.fomc.Name}}</td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.fomc.Priority" style="width: 20px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.fomc.Combination" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.fomc.StartDate" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.fomc.EndDate" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.fomc.TradingStartAt" style="width: 40px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.fomc.Param" style="width: 200px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
            </tr>
            <tr>
                <td>{{strategy_AdaptiveUberVxx.holiday.Name}}</td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.holiday.Priority" style="width: 20px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.holiday.Combination" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.holiday.StartDate" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.holiday.EndDate" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.holiday.TradingStartAt" style="width: 40px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.holiday.Param" style="width: 200px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
            </tr>
            <tr>
                <td>{{strategy_AdaptiveUberVxx.totm.Name}}</td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.totm.Priority" style="width: 20px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.totm.Combination" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.totm.StartDate" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.totm.EndDate" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.totm.TradingStartAt" style="width: 40px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.totm.Param" style="width: 200px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
            </tr>
            <tr>
                <td>{{strategy_AdaptiveUberVxx.connor.Name}}</td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.connor.Priority" style="width: 20px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.connor.Combination" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.connor.StartDate" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.connor.EndDate" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.connor.TradingStartAt" style="width: 40px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AdaptiveUberVxx.connor.Param" style="width: 200px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
            </tr>
        </tbody>
    </table>
</div>

<!--#include virtual="/SQQuickTester/Strategies/TotM/TotM.htm"-->
<table id="inputTable" [hidden]="selectedSubStrategyMenuItemId !== 'idMenuItemTotM'" align="left">
    <colgroup>
        <col class="column1" />
        <col class="column2" />
    </colgroup>
    <thead>
        <tr>
            <th>Trading instrument<br />on bullish day</th>
            <th>Daily mask, Winter<br />(TotM, rel.to 1st day)</th>
            <th>Daily mask, Winter<br />(TotMM, rel.to 15th day)</th>
            <th>Daily mask, Summer<br />(TotM, rel.to 1st day)</th>
            <th>Daily mask, Summer<br />(TotMM, rel.to 15th day)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select [ngModel]="strategy_TotM.selectedBullishTradingInstrument" (ngModelChange)="strategy_TotM.bullishTradingInstrumentChanged($event)">
                    <option [value]="i" *ngFor="let i of strategy_TotM.bullishTradingInstrument">{{i}}</option>
                </select>

            </td>
            <td><input type="text" [(ngModel)]="strategy_TotM.dailyMarketDirectionMaskWinterTotM" style="width: 140px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
            <td><input type="text" [(ngModel)]="strategy_TotM.dailyMarketDirectionMaskWinterTotMM" style="width: 140px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
            <td><input type="text" [(ngModel)]="strategy_TotM.dailyMarketDirectionMaskSummerTotM" style="width: 140px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
            <td><input type="text" [(ngModel)]="strategy_TotM.dailyMarketDirectionMaskSummerTotMM" style="width: 140px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
        </tr>
    </tbody>
</table>
<span class="navigation" [hidden]="selectedSubStrategyMenuItemId !== 'idMenuItemTotM'">
    <ul class="sqMenuNav">
        <li class="sqMenuItemLevel0" id="idTotMButtonLi">
            <span id="idTotMButtonA">Masks</span>
            <ul class="sqMenuBarLevel1">
                <li><span id="idMaskBuyHold" (click)="strategy_TotM.MenuItemPresetMasksClicked($event)">Buy&Hold</span></li>
                <li><span id="idMaskUberVXXOld" (click)="strategy_TotM.MenuItemPresetMasksClicked($event)">UberVXX old</span></li>
                <li><span id="idMaskBuyUberVXXNew" (click)="strategy_TotM.MenuItemPresetMasksClicked($event)">UberVXX new</span></li>
                <li><span id="idMaskSPYDerived" (click)="strategy_TotM.MenuItemPresetMasksClicked($event)">SPY derived</span></li>
            </ul>
        </li>
    </ul>
</span>


<!--#include virtual="/SQQuickTester/Strategies/VIX/VXX_SPY_Controversial.htm"-->
<table id="inputTable" [hidden]="selectedSubStrategyMenuItemId !== 'idMenuItemVXX_SPY_Controversial'">
    <colgroup>
        <col class="column1" />
        <col class="column2" />
    </colgroup>
    <thead>
        <tr>
            <th>SPY Min %Change</th>
            <th>VXX Min %Change</th>
            <th>VXX Long or Short <br /> after controversial days</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" [(ngModel)]="strategy_VXX_SPY_Controversial.spyMinPctMove" style="width: 40px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" />%</td>
            <td><input type="text" [(ngModel)]="strategy_VXX_SPY_Controversial.vxxMinPctMove" style="width: 40px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" />%</td>
            <td>

                <select [ngModel]="strategy_VXX_SPY_Controversial.selectedVXXLongOrShortTrade" (ngModelChange)="strategy_VXX_SPY_Controversial.vxxLongOrShortTradeChanged($event)">
                    <option [value]="i" *ngFor="let i of strategy_VXX_SPY_Controversial.vxxLongOrShortTrade">{{i}}</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>

<div [hidden]="selectedSubStrategyMenuItemId !== 'idMenuItemLETFDiscrRebToNeutral' && selectedSubStrategyMenuItemId !== 'idMenuItemLETFDiscrAddToWinner' && selectedSubStrategyMenuItemId !== 'idMenuItemLETFHarryLong'">
    <table id="inputTable" align="left">
        <colgroup>
            <col class="column1" />
            <col class="column2" />
        </colgroup>
        <thead>
            <tr>
                <th>Assets</th>
                <th style="font-size: 70%;">Assets Weight</th>
                <th style="font-size: 70%;">Rebalance:'Daily,2d','Weekly<br />,Fridays', 'Monthly,T-1'</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" [(ngModel)]="strategy_LEtf.assets" style="width: 290px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_LEtf.assetsConstantWeightPct" style="width: 150px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_LEtf.rebalancingFrequency" style="width: 150px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
            </tr>
        </tbody>
    </table>
    <span class="navigation">
        <ul class="sqMenuNav">
            <li class="sqMenuItemLevel0" id="idLetfHL_MButtonLi">
                <span id="idLetfHL_MButtonA">ParamSets</span>
                <ul class="sqMenuBarLevel1">
                    <li><span id="idParamSetHL_-70VXX.SQ_-75TLT_coctailAgy5" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">70VXX.SQ,c.MPT135%**</span></li>
                    <li><span id="idParamSetHL_-70VXX.SQ_-75TLT_coctailAgy4" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">70VXX.SQ,c.MPT135%*</span></li>
                    <li><span id="idParamSetHL_-70VXX.SQ_-75TLT_coctailAgy3" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">70VXX.SQ,c.MPT100%*</span></li>
                    <li><span id="idParamSetHL_-70VXX.SQ_-75TLT_coctailAgy2" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">70VXX.SQ,cocktail Agy2</span></li>
                    <li><span id="idParamSetHL_-70VXX.SQ_-75TLT_coctailAgy" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">70VXX.SQ,cocktail Agy</span></li>
                    <li><span id="idParamSetHL_-70VXX.SQ_-75TLT_coctailDC" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">70VXX.SQ,cocktail DC</span></li>
                    <li><span id="idParamSetHL_-35TVIX_-25TMV_-28UNG_-8USO_-4JJC" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">35TVIX,25TMV,28UNG...*</span></li>
                    <li><span id="idParamSetHL_-35TVIX_-65TMV" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">35%TVIX - 65%TMV</span></li>
                    <li><span id="idParamSetHL_-25TVIX_-75TMV" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">HarryLong</span></li>
                    <li><span id="idParamSetHL_50VXX_50XIV" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">long VXX - long XIV</span></li> 
                    <li><span id="idParamSetHL_-50VXX.SQ_225TLT" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">50%VXX.SQ-225%TLT</span></li>
                    <li><span id="idParamSetHL_-50VXX_225TLT" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">50%VXX - 225%TLT</span></li>
                    <li><span id="idParamSetHL_50XIV_225TLT" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">50%XIV - 225%TLT</span></li>
                    <li><span id="idParamSetHL_25XIV_112TLT" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">25%XIV - 112%TLT</span></li>
                    <li><span id="idParamSetHL_-25TVIX_75CASH" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">25%TVIX - 75%Cash</span></li>
                    <li><span id="idParamSetHL_25CASH_-75TMV" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">25%Cash - 75%TMV</span></li>
                    <li><span>*** 50%-50% shorts ***</span></li>
                    <li><span id="idParamSetHL_-50URE_-50SRS" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">URE - SRS</span></li>
                    <li><span id="idParamSetHL_-50DRN_-50DRV" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">DRN - DRV</span></li>
                    <li><span id="idParamSetHL_-50FAS_-50FAZ" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">FAS - FAZ</span></li>
                    <li><span id="idParamSetHL_-50VXX_-50XIV" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">VXX - XIV</span></li>
                    <li><span id="idParamSetHL_-50VXZ_-50ZIV" (click)="strategy_LEtf.MenuItemParamSetsClicked($event)">VXZ - ZIV</span></li>
                </ul>
            </li>
        </ul>
    </span>
</div>

<div [hidden]="selectedSubStrategyMenuItemId !== 'idMenuItemTAA'">
    <table id="inputTable" align="left">
        <thead>
            <tr>
                <th>Assets</th>
                <th style="font-size: 70%;">Assets<br />Leverage</th>
                <th style="font-size: 70%;">Rebalance:'Daily,2d','Weekly<br />,Fridays', 'Monthly,T-1'</th>
                <th style="font-size: 70%;">%Channel<br /> Lookback Days</th>
                <th style="font-size: 70%;">%Channel<br /> %Limits</th>
                <th style="font-size: 70%;">%Channel<br /> IsActiveEveryDay</th>
                <th style="font-size: 70%;">%Channel<br /> IsConditional</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.assets" style="width: 250px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.assetsConstantLeverage" style="width: 60px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.rebalancingFrequency" style="width: 150px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.pctChannelLookbackDays" style="width: 100px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.pctChannelPctLimits" style="width: 50px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" />%</td>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.isPctChannelActiveEveryDay" style="width: 30px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.isPctChannelConditional" style="width: 30px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
            </tr>
        </tbody>
    </table>
    <table id="inputTable" align="left">
        <thead>
            <tr>
                <th style="font-size: 70%;">HV Lookback<br /> Days</th>
                <th style="font-size: 70%;">Is Cash Allocated<br /> for Non-actives</th>
                <th style="font-size: 70%;">Cash Equivalent<br /> Ticker</th>
                <th style="font-size: 70%;">CLMT<br /> Leverage </th>
                <th style="font-size: 70%;">UberVXX<br /> Events</th>
                <th style="font-size: 70%;">Debug Detail<br /> To Html</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.histVolLookbackDays" style="width: 30px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.isCashAllocatedForNonActives" style="width: 30px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.cashEquivalentTicker" style="width: 30px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.dynamicLeverageClmtParams" style="width: 100px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.uberVxxEventsParams" style="width: 100px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
                <td><input type="text" [(ngModel)]="strategy_AssetAllocation.debugDetailToHtml" style="width: 200px; padding: 2px; border: 1px solid #A0A0A0" (keypress)="OnParameterInputKeypress($event)" /></td>
            </tr>
        </tbody>
    </table>
    <span class="navigation">
        <ul class="sqMenuNav">
            <li class="sqMenuItemLevel0" id="idLetfTAA_MButtonLi">
                <span id="idLetfTAA_MButtonA">ParamSets</span>
                <ul class="sqMenuBarLevel1">
                    <li><span id="idParamSetTAA_GlobVnqIbb" (click)="strategy_AssetAllocation.MenuItemParamSetsClicked($event)">Global+VNQ+BIB Live</span></li>
                    <li><span id="idParamSetTAA_Glob_Live" (click)="strategy_AssetAllocation.MenuItemParamSetsClicked($event)">GlobalAssets Live</span></li>
                    <li><span id="idParamSetTAA_GC_Live" (click)="strategy_AssetAllocation.MenuItemParamSetsClicked($event)">GameChangers Live</span></li>
                    <li><span id="idParamSetTAA_VaradiOriginal" (click)="strategy_AssetAllocation.MenuItemParamSetsClicked($event)">Varadi's original</span></li>
                </ul>
            </li>
        </ul>
    </span>
</div>

<!--// How to Eliminate Whitespace around Server Side Includes when Pages are UTF-8 Encoded? http://stackoverflow.com/questions/7196993/how-to-eliminate-whitespace-around-server-side-includes-when-pages-are-utf-8-enc-->
<!--<div style="width: 50%; height: 1px; background: #ffffff; overflow: hidden;"></div>--> <!--extra 1 pixel line, so that the input rows doesn't touch each other -->
<div style="width: 100%; height: 2px; background: #ffffff; overflow: hidden;"></div>
<div style="width: 100%; height: 1px; background: #808080; overflow: hidden;"></div>
<!--Ideas what to put here as Statistics come from Portfolio123 http://imarketsignals.com/2015/best8-sp500-min-volatility-large-cap-portfolio-management-system/-->

<table id="statisticsTable">
    <colgroup>
        <col class="column1" />
        <col class="column2" />
        <col class="column3" />
        <col class="column3" />
    </colgroup>
    <thead>
    </thead>
    <tbody>
        <tr class='even'>
            <td id="idTdGeneral">General:</td>
            <td>Start Date: <span> {{startDateStr}} </span></td>
            <td id="idTdRebalanceFrequency">Rebalance Frequency: <span> {{rebalanceFrequencyStr}} </span></td>
            <td>Benchmark: <span> {{benchmarkStr}} </span></td>
        </tr>
    </tbody>
</table>
<span id="idSpanStatistics">Statistics (as of {{endDateStr}}):</span>
<br>


<table id="statisticsTable">
    <colgroup>
        <col class="column1" />
        <col class="column2" />
        <col class="column3" />
    </colgroup>
    <thead>
    </thead>
    <tbody>
        <tr class='even'>
            <td>PV Start Value: <span> &#36;{{pvStartValue | number:'.0-2'}} </span></td>
            <!--<td class='green' onclick="GlobalScopeInvertVisibilityOfTableRow('idWinter__TotMT-17')">0.008%<span style="color: #2581cc; font-size: x-small; vertical-align:super;">i</span></td>-->
            <td>PV Final Value: <span> &#36;{{pvEndValue | number:'.0-2'}} </span></td>
            <td>Total Return: <span> {{100*totalGainPct | number: '.0-2'}}&#37; </span></td>
        </tr>
        <tr>
            <td id="tdCagr">CAGR: <span> {{100*cagr | number:'.0-2'}}% </span></td>
            <td>Annualized StDev: <span> {{100*annualizedStDev | number:'.0-2'}}% </span></td>
            <td id="tdSharpe">Sharpe: <span> {{sharpeRatio | number:'.0-2'}} </span></td>
        </tr>
        <tr class='even'>
            <td>Max Drawdown: <span> {{100*maxDD | number:'.0-2'}}% </span></td>
            <td><a target="_blank" href="http://en.wikipedia.org/wiki/Ulcer_index">Ulcer</a> (Vol=qMean DD): <span> {{100*ulcerInd | number:'.0-2'}}% </span></td>
            <td>Max.TradingDays in Drawdown: <span> {{maxTradingDaysInDD}} </span></td>
            <td></td>
        </tr>
        <tr>
            <td>Winners: <span> {{winnersStr}} </span></td>
            <td>Losers: <span> {{losersStr}} </span></td>
            <td>Annualized <a target="_blank" href="http://www.redrockcapital.com/Sortino__A__Sharper__Ratio_Red_Rock_Capital.pdf">Sortino</a>: <span> {{sortinoRatio | number:'.0-2'}} </span></td>
            <td></td>
        </tr>
        <tr class='even'>
            <td>Benchmark CAGR: <span> {{100*benchmarkCagr | number:'.0-2'}}% </span></td>
            <td>Benchmark Max Drawdown: <span> {{100*benchmarkMaxDD | number:'.0-2'}}% </span></td>
            <td>Correlation with Benchmark: <span> {{benchmarkCorrelation | number:'.0-2'}}</span></td>
        </tr>
    </tbody>
</table>


<div style="width: 100%; height: 1px; background: #808080; overflow: hidden;"></div>
<div id="tv_chart_container"></div>

<span id="idAlwaysVisibleSwitch1" class="alwaysVisibleSwitchClass" (click)="SQToggle('idNoteFromStrategyDiv', 'idAlwaysVisibleSwitch1', 'note from strategy')">+ Show General Parameters</span>

<br />
<div id="idNoteFromStrategyDiv" style="display: block;">
    <!--<span ng-bind-html="htmlNoteFromStrategy"> This needs angular-sanitize.js, if we need recursive Angular {{}}, but we don't need it. Better to stick with pure HTML5  </span>-->
    <span id="idHtmlNoteFromStrategy">  </span>
</div>




<br>
<span id="idSpanStatistics">Holdings (as of {{endDateStr}}):</span>
<br>
<table id="statisticsTable">
    <colgroup>
        <col class="column1" />
        <col class="column2" />
        <col class="column3" />
    </colgroup>
    <thead>
    </thead>
    <tbody>
        <tr class='even'>
            <td>Cash: <span> ${{pvCash | number:'.0-2'}} </span></td>
            <td>Number of positions: <span> {{nPositions}} </span></td>
        </tr>
    </tbody>
</table>


    Holdings List:
<span> {{holdingsListStr}} </span>
<br><br>
    ErrorMessage:
<span> {{errorMessage}} </span>
<br>
    DebugMessage:
<span> {{debugMessage}} </span>
<br>
    Profiling:
<span>JS BacktestCallback: {{profilingBacktestCallbackMSec | number}}ms, BacktestAtChartReadyStart(chart removed/created): {{profilingBacktestAtChartReadyStartMSec | number}}ms, BacktestAtChartReadyEnd(TimeFrame clicked): {{profilingBacktestAtChartReadyEndMSec | number}}ms </span>
<br>

<span id="idAlwaysVisibleSwitchDebug" class="alwaysVisibleSwitchClass" (click)="SQToggle('idDebugInfoDiv', 'idAlwaysVisibleSwitchDebug', 'debug info')">+ Show debug info</span>

<br />
<div id="idDebugInfoDiv" style="display: none;">
    <!--<span ng-bind-html="htmlNoteFromStrategy"> This needs angular-sanitize.js, if we need recursive Angular {{}}, but we don't need it. Better to stick with pure HTML5  </span>-->
    <span id="idDebugInfoSpan">
        <br>ChartDataInStr:
        <pre>{{chartDataInStr}} </pre>
        <br>
    </span>
</div>


<br>
<!--<span>{{tipToUser}}</span>-->
<!--<br />
<button class="mymyButton1Class" (click)="onClickMe()">Click me!</button>
<br />
<br />{{clickMessage }}-->
