<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"  throwExceptions="true">
  <extensions>
    <!--<add assembly="NLog.Extensions.AzureTableStorage"/>-->
  </extensions>

  <!--During Webserver runtime (Debugging in VS), file modification should not be done in VS2015, because 
  VS has a trick that it doesn't change file's Time under Debug, and so NLog.dll will not notice that this config file has been changed.
  So, change this config file in NotePad.exe or TotalCommander, etc.-->

  <targets  async="true">
    <!--<target name="console" xsi:type="Console"  layout="[${level:uppercase=true}:${logger}] ${message}"/>-->

    <!--<target name="logfile" xsi:type="File" fileName="g:\temp\nlogOvermind.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${event-context:item=EventId}|${message}|${ndc}" />-->

    <target name="logfile" xsi:type="File" fileName="logs/nLogOvermind${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${event-context:item=EventId}|${message}|${ndc}" />

    <!--3000milisec: For re-thrown (bubbling up in the stack) Exceptions, group consecutive Error logs into 1 email, not separate emails.-->
    <!--// Use SMTP with SendGrid email: from Robert: "to reduce SmtpExceptions (still remains some) ("The SMTP server requires a secure connection or the client was not authenticated")"-->
    <!--<target xsi:type="BufferingWrapper" name="EMailBufferingWrapper" slidingTimeout="false" bufferSize="20" flushTimeout="3000">
      <target name="Email" xsi:type="Mail"
              from="SQHealth*****@hqavm1.cloudapp.com"
              to=""
              subject="** NLog ${level} from SQHealthMonitorWebApp on ${machinename}"
              smtpServer="smtp.sendgrid.net"
              smtpPort="587"
              smtpAuthentication="Basic"
              smtpUserName=""
              smtpPassword=""
              enableSsl="true"
              layout="${longdate} ${uppercase:${level}} ${callsite:className=true:includeSourcePath=true:methodName=true} ${message} ${onexception:inner=|${exception} ${when:when=(level > LogLevel.Warn):inner=|[!] ${exception:format=ToString:innerFormat=Message:maxInnerExceptionLevel=5} }} ${newline}"
          />
    </target>-->
  </targets>

  <rules>
    <!--In local debugging, ASP.NET5 has a nicer, colourful Console Log, so use that, and disable Console here-->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!--<logger name="*" minlevel="Warn" writeTo="Email" />-->
  </rules>
</nlog>